spring:
  application:
    name: grpc-server

  datasource:
    url: jdbc:mysql://localhost:3306/devdb?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: devuser
    password: devpassword
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8082
  shutdown: graceful

grpc:
  server:
    port: 9090
    enable-reflection: true
